.title_info {
	font-family: "Georgia", sans-serif;
	background: rgb(0, 0, 255);
	color: rgb(0, 255, 0);
	text-align: center;
}

li {
	display: inline;
	text-align: center;
}

body {
    	background-color: #FF7241;
    	text-align: center;
	color: #00FF00;
}

h1 {
	color: #FFFF00;
	background: #00FFFF;
}
