h1 {
	font-family: "Georgia", sans-serif;
	font-color: rgb(0, 0, 0);
}

.title_info {
	font-family: "Georgia", sans-serif;
	color: rgb(0, 255, 0);
	text-align: center;
}

li {
	display: inline;
	text-align: center;
}
